@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.section{
    padding: 0 128px;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    flex: 0 0 auto;
}

/* ==================================================================================== */
/* HEADER SECTION */
/* Navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;

    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: rgba(255, 255, 255, 0.25);
}

.navbar ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
    font-size: 12px;
}

.navbar a{
    text-decoration: none;
    color: #fff;
}

.logo{
    font-size: 24px;
}

/* hero */

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 64px 0;
    gap:32px;
}

.hero-content{
    flex: 1 0%;
}

.hero-content .sign-up{
    color: white;
    background-color: #3882f6;
    border-width: 0;
    border-radius: 8px;
    padding: 8px 32px;
}

.hero .title{
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;;
}

.hero .subtitle{
    color: #E5E7EB;
    font-size: 18px;
    margin-bottom: 8px;
}

.hero-image{
    flex: 1 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-align: center;
    min-height: 256px;
}

.hero-image img{
    width: 100%;
    height: 100%;
    object-fit:contain;
    object-position: center;
}


/* ==================================================================================== */
/* CONTENT SECTION */

.content{
    flex: auto;
    background-color: white;
}

#sightings{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 128px;
}

#sightings h2{
    margin: 32px 0;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.image-container{
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    text-align: center;
}


.image-item{
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    gap: 8px;
}
.image-item div{
    width: 360px;
    height: 360px;
    overflow: hidden;
}

.image-item img{
    width: 100%;
    height: 100%;
    object-fit:contain;
    object-position: center;
}

/* Quotes */

.quotes{
    background-color: #e5e7eb;
    color: #1f2937;
}

.quotes blockquote{
    padding: 128px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.quote{
    font-size: 36px;
    font-weight: 300;
}

.author{
    font-size: 24px;
    align-self: flex-end;
}

/* Call to action */
.cta{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta div{
    flex-grow: 1;
}

.cta-container{
    margin: 64px 0;
    padding: 50px 100px;
    background-color: #3882f6;
    color: white;

    border-width: 0;
    border-radius: 8px;

    display: flex;
    justify-content: space-between;
}

.cta-title{
    font-weight: 700;
}

.cta-subtitle{
    font-weight: 300;
}

.cta-signup{
    border: 2px solid white;
    border-radius: 10px;
    background-color: #ffffff00;
    color: #fff;

    padding: 10px 40px;

}